<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - Shikhai</title>
    @Html.Partial("_LayoutHead")

</head>


<body class="demo">
    <div id="loader-wrapper">
        <div id="loader"></div>

        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>

    </div>
    <div id="content">
        <div class="container body-content" style="background-color:#fff">
            @Html.Partial("_TopMenu")
            @RenderBody()
            @Html.Partial("_Footer")
        </div>
        @Html.Partial("_LayoutFooter")
    </div>
    @RenderSection("scripts", required: false)


</body>
</html>
