@model Shikhai.Models.Portfolio 

<div class="portfolio-content portfolio-4">
    <div id="js-filters-full-width" class="cbp-l-filters-alignCenter">
        <div data-filter=".0" class="cbp-filter-item">
            All
            <div class="cbp-filter-counter"></div>
        </div>
        <span>/</span>

        @{
            foreach (var item in Model.ParenCategories)
            {
                <div data-filter=".@item.Value" class="cbp-filter-item">
                    @item.Text
                    <div class="cbp-filter-counter"></div>
                </div>
                <span>/</span>
            }
        }
    </div>

    <div id="js-grid-full-width" class="cbp">    
        @{
            foreach (var item in Model.portfolioChildren)
            {
                <div class="cbp-item 0 @item.Parent1Id">
                    <a href="@item.ImagePath" class="cbp-caption cbp-lightbox" data-title="@item.Name_English">
                        <div class="cbp-caption-defaultWrap">
                            <img src="@item.ImagePath" alt="" style="max-height:400px;max-width:400px;">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignLeft">
                                <div class="cbp-l-caption-body">
                                    <div class="cbp-l-caption-title">@item.Name_English</div>
                                    <div class="cbp-l-caption-desc">@item.Description</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            }
        }
    </div>
</div>
